*{
    margin:5;
    }

.inline_div{
    display:inline;
    margin:0px;
    border:0px;
    padding:0px;
    }

.title{
    background-color:yellow;
    color:red;
    }

.right{
    text-align:right;
    }

h6{
    color:#666;
    }

[class="attr"]{
    background-color:#ccc
    }

#attr{
    background-color:#f40
    }
.wrapper span em{
    background-color:#aaa
    }

div > em{
    background-color:#bbb
    }

span.demo{
    background-color:#ddd
    }

.demo1,
.demo2{
    width:200;
    height:20;
    margin:50;
    }

#triangle{
    width:0px;
    height:0px;
    border:20px solid black;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    }

#line{
    border:1px solid black;
    text-align:center;
    height:50px;
    line-height:50px;
    }

#pseudo_classes:hover{
    background-color:#f40;
    }

#box{
    margin:20px;
    border:30px solid black;
    padding-top:15px;
    padding-right:15px;
    padding-bottom:15px;
    width:50px;
    height:50px;
    background-color:red;
    }

#center{
    font-family:YouYuan;
    position:fixed;
    left:100%;
    top:50%;
    margin-left:-30px;
    margin-top:-120px;
    }